.container_dash{
    width: 100%;
    height: 87vh;
    display: flex;
    background-color: white;
}
body{
    width:100vw;
}
.container_kpi{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 7em;
}

.date_filter{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.cards_kpi{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_kpi{
    width: 80%;
    height: 60%;
    margin: auto;
}

.container_valor_card{
    display: flex;
    height: 45%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.5);
    background-color: #FACC15
}
.container_graficos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

h3{
    margin: 0 !important;
    padding: 0 !important;
}

input{
    background-color: #FACC15;
    border: none;
    height: 4vh;
    border-radius: 5px;
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.2);
}

.titulo_kpi{
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.valor_kpi{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.tit_data{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}