/* Login.css */

.logo{
  width: 100%;
  height: 20%;
  gap: 16px;
  justify-content: center;
}

.login-container {
  min-height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 20%;
  height: 500px;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.login-subtitle {
  color: #6b7280;
  text-align: center;
  font-size: 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  justify-content: center;
  gap: 20%;
  margin-bottom: 16px;
}


.input-field {
  width: 100%;
  height: 60px;
  padding: 12px 12px 12px 25px;
  background-color: #f9fafb;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: 2px solid #eab308;
}

.login-button{
  width: 100%;
  height: 60px;
  background-color: #374151;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}