body{
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  background-color: white;
  height: 16vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

#logo{
  height: 6vh;
  margin-left: 5%;
}
.texto_logo{
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
.logo{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;

}
.item_list{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.item_list li{
  text-align: center;
  white-space: nowrap;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.item_list li:hover:not(.active){
  border-bottom: 3px solid #ffd90069;
}

.item_list li.active{
  border-bottom: 3px solid #FACC15;
}

.btn_sair{
  background-color: #FACC15 !important;
  color: black !important;
  height: 55%;
  width: 6%;
  box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.5);
}