.estoque-container {
  display: flex;
  gap: 2.5rem;
  padding: 3rem;
  align-items: center;
}

.estoque-esq {
  flex-grow: 1.3;
  height: 79vh;
}

.estoque-lista {
  max-height: 55vh;
  overflow-y: auto;
}

.estoque-header,
.estoque-item {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  padding: 0.9rem;
}

.estoque-titulo {
  font-size: 2rem;
  text-align: left;
}

.estoque-header {
  background-color: #444;
  border-radius: 15px 15px 0px 15px ;
}

.estoque-header span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.estoque-line {
  cursor: default;
}

.divisao {
  height: 1px;
  background-color: #ddd;
}

.estoque-dir {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.resumo-card {
  border: 2px solid #e0b400;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f8f8f8;  
}

.resumo-titulo {
  font-size: 1rem;
  color: #555;
}

.resumo-card h3 {
  margin-top: 0.5;
  font-size: 1.5rem;
}
